<div class="first-page">
    <div class="portal">
        <div>
            <h2> {{title}} </h2>
        </div>

        <div class="signup-login">
            <a href="/user/signup">Sign-Up</a>
            <a href="/user/login">Log In</a>
        </div>
    </div>

    <div class="slogan">
        <div class="keep-track">
            <h1>Keep Track of your Golf</h1>
        </div>
        
    </div>
</div>