<div class="update">
    <h2>Change Scoresheet {{name}} info</h2>

    <form method="POST" action="/scoresheet/{{this.scoreSheetID}}/edit">
        {{#each strokes}}
        <input type="number" name="strokes{{@index}}" value={{this}}>
        {{/each}}
        <button type="submit">Edit Scoresheet</button>
    </form>
</div>