<div class="home-page">
    <h1>WELCOME {{this.username}}</h1>
    <hr>
    <a href="/scoresheet/record">ScoreSheet (History)</a>
    <a href="/scoresheet/create">New ScoreSheet</a>
    <a href="/weather/forecast">weather</a>
</div>