<div class="home-page">
    <a href="/user/logout">Log Out</a>
    <h1>WELCOME {{this.username}}</h1>
    <a href="/scoresheet/record">ScoreSheet Record</a>
    <a href="/scoresheet/create">New ScoreSheet</a>
    <a href="/weather/forecast">Weather</a>
</div>