<div class="signup-form">
    <h2>LOGIN</h2>
    <form action="/user/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button type="submit">Log In</button>

    </form>
</div>