<h2>Sign Up</h2>
<form action="/signup" method="POST">
<label for="name">Name</label>
<input type="text" name="name" placeholder="Type your name...">
<label for="Username">Username</label>
<input type="text" name="username" placeholder="Create a new username...">
<label for="Password">Password</label>
<input type="text" name="password" placeholder="Create a password...">
<button type="submit">Create</button>


</form>